@model Slider

<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Sldier Update</h4>
                  
                  <form method="post" asp-route-id="@Model.Id" class="forms-sample">
                    <div class="form-group">
                      <label for="authorName">Author Name</label>
                      <input value="@Model.Title1" name="authorName" type="text" class="form-control" id="authorName" 
                      placeholder="Author">
                    </div>

                    <div class="form-group">
                      <label for="bookName">Book Name</label>
                      <input value="@Model.Title2" name="bookName" type="text" class="form-control" id="bookName" 
                      placeholder="Book Name">
                    </div>

                    <div class="form-group">
                      <label for="infoAboutBook">Book info</label>
                      <input value="@Model.Info" name="infoAboutBook" type="text" class="form-control" id="infoAboutBook" 
                      placeholder="Book info">
                    </div>

                    <div class="form-group">
                      <label for="price">Name</label>
                      <input value="@Model.Price" name="price" type="text" class="form-control" id="price" 
                      placeholder="Price">
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>                        
                    <a asp-area="manage" asp-controller="slider" 
                       asp-action="index" asp-route-id="@Model.Id"   
                       class="btn btn-light">Cancel
                   </a>
                  </form>
                </div>
              </div>
            </div>
    </div>
</div>